<header class="usa-header site-header" role="banner">

  {% include banner.html %}

  <div class="usa-navbar site-header-navbar">
    <button class="usa-menu-btn">Menu</button>
    <div class="usa-logo site-logo" id="logo">
      <em class="usa-logo-text">
        <a href="{{ site.baseurl }}/" id="logo-text" title="{{ site.title }}">
          {{ site.title }}
        </a>
      </em>
    </div>
  </div>

<!-- TBD horizontal nav -->
  <nav role="navigation" class="usa-nav">
    <div class="usa-nav-inner">
      <button class="usa-nav-close">
        <img src="{{ site.baseurl }}/{{ site.uswds_path }}/img/close.svg" alt="close">
      </button>
    </div>
  </nav>

</header>

<!-- Mobile nav -->
<nav role="navigation" class="usa-nav sidenav-mobile">
  <div class="usa-nav-inner">
    <button class="usa-nav-close">
      <img src="{{ site.baseurl }}/{{ site.uswds_path }}/img/close.svg" alt="close">
    </button>

    <ul class="usa-sidenav-list usa-accordion">
      {% for section in site.data.navigation.mobile %}
        <li>
          <a href="{{ section.href }}">{{ section.text }}</a>
        </li>
      {% endfor %}
    </ul>

  </div>
</nav>
