<aside>
  <a class="skip-link visuallyhidden focusable" href="#main">Skip to Main Content</a>
  <nav class="sidebar-nav" role="navigation">
    <ul>
      {% for link in site.navigation %}
        {% assign current = '' %}
        {% if page.url == link.url %}
          {% assign current = 'sidebar-nav-active' %}
        {% endif %}
        <li class="{{ current }}">
          <a href="{{ link.url }}">{{ link.text }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
  <p>
    <a href="https://github.com/{{ site.org_name }}/{{ site.repo_name }}/edit/{{ site.branch }}/{{ page.path }}">Edit this page</a>
  </p>
</aside>
