<!DOCTYPE html>
<html>
<head>
  <meta name="google-site-verification" content="xXEGpPeG9CfACp-aeM0kS8pSS9Vk7Z8OS0QB_EehREs" />

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/normalize.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css?{{ site.time | date: "%Y%m%j%H%M%S" }}">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/syntax.css">

  <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,700|Open+Sans:300,400,600,700" rel="stylesheet" type="text/css">

  <!--[if lt IE 9]>
    <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script src="{{ site.baseurl }}/assets/js/respond.min.js"></script>
  <![endif]-->

  <link rel="shortcut icon" type="image/ico" href="{{ site.baseurl }}/assets/favicon.ico" />

  <link rel="canonical" href="{{ site.url }}{{ page.url }}" />

  {% if page.title %}
    <title>{{ page.title }}</title>
    <meta property="og:title" content="{{ page.title | xml_escape }}" />
  {% else %}
    <title>{{ site.title }}</title>
    <meta property="og:title" content="{{ site.title | xml_escape }}" />
  {% endif %}

  {% if page.description %}
    <meta name="description" content="{{ page.description | xml_escape }}">
    <meta property="og:description" content="{{ page.description | xml_escape }}" />
  {% else %}
    <meta name="description" content="{{ site.description | xml_escape }}">
    <meta property="og:description" content="{{ site.description | xml_escape }}" />
  {% endif %}

</head>
<body>

<div class="container">
  <header role="banner">
    <h1>
      <a href="/">{{ site.name }}</a>
    </h1>
  </header>

  <div class="wrap content">

    {% include sidebar.html %}

    <article id="main" class="main-content" role="main">
      {{ content }}
    </article>

  </div>
</div>

{% include analytics.html %}

</body>
</html>
